$spacing: 4px;

.content {
  display: flex;
  padding: 0 $spacing;
  width: 100%;
  padding-bottom: 10px;
  .container {
    transition: width 1s;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    .card {
      display: flex;
      flex-direction: column;
      flex: 1;
      border-radius: $radius;
      margin: 0 $spacing;

      .card-content {
        padding: 20px 20px;
      }
    }
    .card.highlight {
      border-top: 10px solid $secondary;
    }
    .card.inverse {
      background-color: $primary;
      color: white;
    }
  }
  .container-left,
  .container-right {
    flex: 0 0 25%;
  }
  .container-left {
    border-right: solid 1px $primary;
  }
  .container-top {
    border-bottom: solid 1px $primary;
    min-height: 0;
  }

  .header {
    padding: 0 10px;
  }
  .panel > h2 {
    color: $primary;
    font-weight: 1000;
    font-size: 20;
    border-bottom: 1px solid $borderColor2;
  }
}

.card-header {
  margin-top: 5px;
  display: flex;
  text-align: center;
  color: $textColor;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  .card-header-actions {
    padding-left: 20px;
  }
}
.card-header.align-left {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.card-header > h2,
h3,
h4,
h5,
h6 {
  padding: 2px;
  margin: 0;
  flex-grow: 1;
}

.overlay-content {
  left: calc(50vw - 200px);
  margin: 10vh 0;
  top: 0;
  width: 400px;
}
